*{margin:0;padding:0;box-sizing:border-box;font-family:Inter,sans-serif}

body{background:#020617;color:white}

.student-page{display:flex;min-height:100vh}

.student-sidebar{width:270px;background:#0F172A;padding:28px}

.student-logo{text-align:center;font-size:1.8rem;font-weight:800;margin-bottom:24px}

.student-menu{display:flex;flex-direction:column;gap:12px}

.student-menu a{
    text-decoration:none;
    color:rgba(255,255,255,.72);
    padding:16px;
    border-radius:16px;
}

.student-menu a:hover,
.active-link{
    background:rgba(108,77,255,.16);
    color:white;
}

.student-main{
    flex:1;
    padding:42px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-card{
    width:520px;
    background:#0F172A;
    border-radius:32px;
    padding:42px;
    text-align:center;
}

.profile-avatar{
    width:90px;
    height:90px;
    border-radius:50%;
    background:linear-gradient(135deg,#6C4DFF,#8B7CFF);
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto 22px;
    font-size:2rem;
    font-weight:900;
}

.profile-card h1{
    font-size:2.2rem;
}

.profile-card p{
    color:rgba(255,255,255,.62);
    margin-top:8px;
}

.profile-card form{
    display:flex;
    flex-direction:column;
    gap:16px;
    margin-top:32px;
}

.profile-card input{
    height:54px;
    border:none;
    border-radius:16px;
    padding:0 18px;
    background:rgba(255,255,255,.05);
    color:white;
    outline:none;
}

.profile-card input:disabled{
    opacity:.55;
}

.profile-card button{
    height:54px;
    border:none;
    border-radius:16px;
    background:linear-gradient(135deg,#6C4DFF,#8B7CFF);
    color:white;
    font-weight:800;
    cursor:pointer;
}

.app-toast{
    position:fixed;
    bottom:32px;
    right:32px;
    background:linear-gradient(135deg,#6C4DFF,#8B7CFF);
    color:white;
    padding:18px 24px;
    border-radius:18px;
    font-weight:800;
    opacity:0;
    transform:translateY(30px);
    pointer-events:none;
    transition:.3s ease;
    z-index:9999;
}

.app-toast.show-toast{
    opacity:1;
    transform:translateY(0);
}